name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Apache Maven Central
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        # Fluency uses java.nio.ByteBuffer which can cause inconsistent method signature issue between JDK 8 and 9.
        # We've created Fluency jars using JDK 8 for that and we need to confirm an application built with JDK 9 or later
        # can use Fluecy jars built with JDK 8 without any problem.
        # We're using --release option to build source code with JDK 8. So JDK 17 should work here.
        java-version: 17
        cache: 'gradle'
    - name: Publish to Apache Maven Central
      run: ./gradlew publish
      env:
        ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
        ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.OSSRH_USERNAME }}
        ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.PGP_KEY_ID }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_SECRET }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_PASSPHRASE }}

